<div class="dashboard">

  <h1>Welcome to Admin Dashboard</h1>

  <p>
    Manage your NGO website from the admin panel.
  </p>

  <div class="dashboard-cards">

    <a routerLink="/admin/projects" class="card">
      <h2>Projects</h2>
      <p>Manage NGO projects.</p>
      <span>Manage Projects →</span>
    </a>

    <a routerLink="/admin/contacts" class="card">
      <h2>Contacts</h2>
      <p>View visitor messages.</p>
      <span>View Contacts →</span>
    </a>

    <a routerLink="/admin/donations" class="card">
      <h2>Donations</h2>
      <p>View submitted donations.</p>
      <span>View Donations →</span>
    </a>

    <a routerLink="/admin/admin-ngo" class="card">
      <h2>NGO</h2>
      <p>Manage NGO information.</p>
      <span>Manage NGO →</span>
    </a>

  </div>

</div>